body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c491ef+17,f070a1+44,799aef+70,799aef+82,7befb5+97&1+0,0.44+2,1+100 */
    background: -moz-linear-gradient(-45deg,  rgba(196,145,239,1) 0%, rgba(196,145,239,0.44) 2%, rgba(196,145,239,0.53) 17%, rgba(240,112,161,0.68) 44%, rgba(121,154,239,0.83) 70%, rgba(121,154,239,0.9) 82%, rgba(123,239,181,0.98) 97%, rgba(123,239,181,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(196,145,239,1) 0%,rgba(196,145,239,0.44) 2%,rgba(196,145,239,0.53) 17%,rgba(240,112,161,0.68) 44%,rgba(121,154,239,0.83) 70%,rgba(121,154,239,0.9) 82%,rgba(123,239,181,0.98) 97%,rgba(123,239,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(196,145,239,1) 0%,rgba(196,145,239,0.44) 2%,rgba(196,145,239,0.53) 17%,rgba(240,112,161,0.68) 44%,rgba(121,154,239,0.83) 70%,rgba(121,154,239,0.9) 82%,rgba(123,239,181,0.98) 97%,rgba(123,239,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c491ef', endColorstr='#7befb5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* style fonts*/
h1, h2, p, span {
    font-family: Arial, Helvetica, sans-serif;
    }

/* Header*/
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 40px; 
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

/*Style paragraph elements*/
p, span {
    font-size: 24px;
}

main {
    height: 100%;
}

/* Style section*/
section {
    background-color: #ffffff;
    color:#000000;
    text-align: center;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    border-color:#f070a1;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    display: none;
}

.section-container {
    min-height: 80%;
    margin-top: 3%;
}

.current-section {
    display: block;
}

#introduction {
    background-color: #ffffff;
}

#answer-template, #result-template {
    display: none;
}

/*Make button responsive when selected*/
.answer {
    border-color:#f070a1;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 150px;
    margin: 10px
}

/* Make answer button responsive when user hovers*/
.answer:hover {
    color: #444444;
    background-color: #7befb5;
}

.result {
    width: 170px;
    background-color: transparent;
    border: none;
    color: #000000;
}

.result-text {
    max-width: 150px;
}

.cat-image {
    width: 150px;
    height: 150px;
}

.selected {
    color: #444444;
    background-color: #f070a1;
}

/* Style navigation buttons*/
.flow-button {
    display: inline;
    background-color: #c491ef;
    color:#000000;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    /*transition-duration: 0.4s;*/
    margin: 30px;
    width: 180px;;
}

.flow-button:hover {
    background-color:#f070a1
}

/*Hide buttons until the user has made a relevant selection*/
.disabled-button {
    display: none;
}

/*Preloader code from https://codepen.io/kevinjannis/pen/KwJvpa*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  section.preloader {
    padding: 40px 0;
  }
  
  div.spinner {
    -moz-animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
    position: relative;
    display: block;
    margin: auto;
    width: 142px;
    height: 142px;
  }
  div.spinner i {
    -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: solid 6px transparent;
    border-bottom: none;
  }
  div.spinner i:nth-child(1) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    width: 44px;
    height: 22px;
    margin-top: -22px;
    margin-left: -22px;
    border-color: #ef7b7b;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  div.spinner i:nth-child(2) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    width: 58px;
    height: 29px;
    margin-top: -29px;
    margin-left: -29px;
    border-color: #f070a1;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
  }
  div.spinner i:nth-child(3) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    width: 72px;
    height: 36px;
    margin-top: -36px;
    margin-left: -36px;
    border-color: #c491ef;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }
  div.spinner i:nth-child(4) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    width: 86px;
    height: 43px;
    margin-top: -43px;
    margin-left: -43px;
    border-color: #799aef;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
  }
  div.spinner i:nth-child(5) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    width: 100px;
    height: 50px;
    margin-top: -50px;
    margin-left: -50px;
    border-color: #7befb5;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
 
  @-moz-keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  